@import "./src/variables";

.accordion {
  margin: 1rem;
  //max-block-size: 30rem;
  //writing-mode: horizontal-tb;

  //max-height: 20rem;

  .card {
    max-width: 1fr;
    .card-header {
      .collapse{
        background: color-transparency('secondary-alt', 'dark');
      }
      .collapse show {
        .card-body {

        }
      }
    }
  }
}

